beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
Django==2.0.6
epub==0.5.2
googletrans==2.2.0
idna==2.6
joblib==0.11
pdfminer.six==20170720
Pillow==8.1.1
pycrypto==2.6.1
pycryptodome==3.6.1
pytz==2018.4
reportlab==3.4.0
requests==2.18.4
six==1.11.0
urllib3==1.22
